{% load static %}



{% block content %}   
  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditi | Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    
</head>
<header class="header">
    <div></div>
    <div class="header__right-authSection">
        <img src="{% static '/images/user.svg' %}" alt="" class="pro_img">
        <div class="btn_group">
            <a href="{% url 'accounts:login' %}"><button class="btn_border">Login</button></a>
            <a href="{% url 'accounts:c_register' %}"><button>Sign Up</button></a>
        </div>
    </div>
</header>

<div class="master__options">
    
    <div class="options">
        <select name="cars" id="location">
            <option disabled selected >Choose Location</option>
            <option value="volvo" >Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <select name="cars" id="checkin">
            <option disabled selected>Check-In</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <select name="cars" id="checkout">
            <option disabled selected>Check-Out</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <select name="cars" id="rooms">
            <option disabled selected>Rooms</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <select name="cars" id="adults">
            <option disabled selected>Adults</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <select name="cars" id="children">
            <option disabled selected>Children</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <button class="search">SEARCH</button>
    </div>
</div>

<body>
    <div class="hero__container">
        <div class="wrapper">
            <div class="display-tiles">
                <div class="content">
                    <div class="item">
                        <strong class="alert">PREMIUM</strong><br>
                        <strong>HOTELS</strong>
                    </div>
                    <div class="subContent">
                        <h6>TAILOR-MADE <br> FOR YOU</h6>
                    </div>
                    <button class="explore">
                        EXPLORE NOW
                    </button>
                </div>
                <img src="{% static '/images/tile1.jpg' %}" alt="">
            </div>
            <div class="display-tiles">
                <div class="content">
                    <div class="item">
                        <strong>ROOMS <br> FOR</strong>
                        <strong class="alert">TWO</strong>
                    </div>
                    <div class="subContent">
                        <h6>SPEND GREAT <br> TIME TOGETHER</h6>
                    </div>
                    <button class="explore">
                        EXPLORE NOW
                    </button>
                </div>
                <img src="{% static '/images/tile1.jpg' %}" alt="">
            </div>
            <div class="offer-tiles">
                <h1>
                    80
                    <span>
                        <div><small>%</small></div>
                    </span>
                    <span>
                        <div><small>off</small></div>
                    </span>
                </h1>
            </div>
        </div>
    </div>

    <!-- <div class="content__holder">
         <img src="/src/assets/images/content1.jpg" alt=""> 
        <div class="content-wrapper">
            
        </div>
    </div> -->

</body>

</html>

{% endblock %}

