{% load static %}

{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesSignup.css' %}">
    <title>ADITI | Sign Up</title>
</head>
<body>
        <div class="homeSec">
                <a href="/"><img src="{% static 'images/home.svg' %}" alt="" class="home"></a>
            </div>
    <div class="card">
        <h1 class="header">Create Account</h1>
        <input type="text" name="fname" id="fname" placeholder="First Name">
        <input type="text" name="lname" id="lname" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email"><br>
        <input type="email" name="cemail" id="c_email" placeholder="Re-enter E-mail"><br>
        <input type="tel" name="phone" id="phn" placeholder="Phone Number"><br>
        <input type="password" name="pass" id="pass" placeholder="Password"><br>
        <input type="password" name="cpass" id="c_pass" placeholder="Confirm Password">
        <button>SIGN UP</button>
    </div>
</body>
</html>
{% endblock %}