{% extends 'hotel/hbase.html'%}
{% load static %}
{% block title %} ADITI || HOTEL (Booking Management) {% endblock %}

{% block extra_head %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
 
<body>
    <div class="container holder">
        <h1>Booking Management</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">NO.</th>
                <th scope="col">Person</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Email</th>
                <th scope="col">Check-In</th>
                <th scope="col">Check-Out</th>
                <th scope="col">Room No.</th>
                <th scope="col">Payment</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>BlueSaphire</td>
                <td>999-999-999-99</td>
                <td>test1@test.com</td>
                <td>11 / 08 / 2020</td>
                <td>12 / 08 / 2020</td>
                <td>13</td>
                <td style="color: green;">Success</td>
                <td style="color: green;">Success</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>BlueSaphire</td>
                <td>999-999-999-99</td>
                <td>test1@test.com</td>
                <td>11 / 08 / 2020</td>
                <td>12 / 08 / 2020</td>
                <td>13</td>
                <td style="color: green;">Success</td>
                <td style="color: green;">Success</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>BlueSaphire</td>
                <td>999-999-999-99</td>
                <td>test1@test.com</td>
                <td>11 / 08 / 2020</td>
                <td>12 / 08 / 2020</td>
                <td>13</td>
                <td style="color: green;">Success</td>
                <td style="color: green;">Success</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>

{% endblock %}