{% extends 'hotel/hbase.html'%}
{% load static %}
{% block title %} ADITI || HOTEL (Payout) {% endblock %}

{% block extra_head %} 
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
{% endblock %}

{% block content %}
    
<body>
    <div class="container holder">
        <h1>Payout</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">NO.</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">No. of Payment</th>
                <th scope="col">Total Payment</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
{% endblock %}