{% extends 'user/base.html'%}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/modalStyle.css' %}">


{% endblock %}


{% block title %} ADITI || RoomAdding {% endblock %}

{% block content %} 
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>
 <!-- Modal -->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content ">
         <div class="modal-header">
             <h5 class="modal-title" id="exampleModalCenterTitle">Room Management</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <div class="row Main">
                 <div class="col leftPart">
                     <label for="">Room NO.</label>
                     <input type="text" name="" id="" class="form-control rno">
                     <label for="">Features</label>
                     <input type="text" name="" id="" class="form-control feat">
                     <label for="">Price</label>
                     <input type="text" name="" id="" class="form-control prc">
                     <label for="">TAX</label>
                     <input type="text" name="" id="" class="form-control tx">
                     <label for="">Room Image</label>
                     <input type="text" name="" id="" class="form-control rim">
                     <label for="">Featured Image</label>
                     <input type="text" name="" id="" class="form-control fim">
                 </div>
                 <div class="col rightPart">
                     <label for="">Room Type</label>
                     <select name="" id="" class="form-control rt"></select>
                     <label for="">Description</label>
                     <input type="text" name="" id="" class="form-control desc">
                 </div>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save changes</button>
         </div>
     </div>
 </div>
</div>

{% endblock %}
