{% extends 'hotel/base.html' %}

{% block content %}

<h1>hotels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Hotel name</th>
                <th>Hotel address</th>
                <th>Location</th>
                <th>landmark</th>
                <th>phone_No</th>
            </tr>
        </thead>
        <!-- <tbody>
            {% for h in hotels %}
            <tr>
                <th scope="row"> {{ forloop.counter }}</th>
                <td>{{h.h_name}}</td>
                <td>{{h.address}}</td>
                <td>{{h.location}}</td>
                <td>{{h.landmark}}</td>
                <td>{{h.phone_no}}</td>
            </tr>
            {% endfor %}
        </tbody> -->

    </table>
 

{% endblock %}