{% extends 'hotel/base.html' %}

{% block content %}

<h1>City List</h1>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City name</th>
            </tr>
        </thead>
        <tbody>
            {% for c in citys %}
            <tr>
                <th scope="row"> {{ c.p_id }}</th>
                <td>{{c.places}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
     
</div>

{% endblock %}