{% extends 'hotel/base.html' %}

{% block css %} 

<style>
    table, th, td {
        border: 1px soli white;
    }

</style>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="new-hotel" method="POST" >
                {% csrf_token %}
                <table class="table table-borderless">
                        <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </thead>
                        <tbody>       
                        <tr>
                        <td><label> Hotel Name </label></td>
                        <td> <input type="text" class="form-control" id="h_name" name='h_name' placeholder="Hotel Name" required> </td> 
                        
                        </tr>
                        <tr>
                                <td><label> Hotel Address </label></td>
                                <td> <input type="text" class="form-control" id="address" name="address" placeholder="Address" required> </td> 
                        </tr>
                        <tr>
                                <td><label> Location </label></td>
                                <td> <select name="location" required>
                                    {% for c in city %}
                                    <option value="{{c.p_id}}">{{c.places}}</option>
                                    {% endfor %}
                                </select> </td> 
                        </tr>
                        <tr>
                                <td><label> Landmark </label></td>
                                <td> <input type="text" class="form-control" id="landmark" name="landmark" placeholder="landmark" required> </td> 
                        </tr>
                        <tr>
                            <td><label> Phone Number </label></td>
                            <td> <input type="text" class="form-control" id="phone_no" name="phone_no" placeholder="phone_no" required> </td> 
                    </tr>

                        <tr>
                        <td colspan="2"><button type="submit" class="btn btn-success">Submit</button></td>
                        </tr>
                        </tbody>
                        <tr> <a type="button" class="btn btn-secondary float-right mx-3" href="{% url 'hotel:hotel-list' %}"> Back </a></tr>
                </table>
        </form>
    </div>

  
{% endblock %}

